



.search-input {
  padding: 10px 40px 10px 15px; /* Adjust padding to include space for the icon */
  border: 1px solid #ccc;
  border-radius: 20px;
  min-width: 50%;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 20px; /* Adjust icon size */
  background-position: right 15px center; /* Position icon on the right side */
}

.search-input:focus {
  outline: none;
  border-color: #66afe9; /* Adjust the color on focus as needed */
}

.welcome {
  margin-top: 20px;
  padding: 1px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: rgb(157, 214, 238);
  width: 98%;
  text-align: center;
}

button {
  background-color: rgb(237, 244, 247);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-radius: 10px;

}

input {
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 2px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-column,
.events-column,
.right-column {
  flex: 3;
  padding: 0 10px;
}


.events-column{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  min-width: 60%;
  border-radius: 10px;
}

.create-event-container{
  border-style: solid;
  border-width: 1px;
}

.container-header {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgb(237, 244, 247);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
}

.map-container {
  height: 200px; /* Adjust height as needed */
  margin-bottom: 10px;
}

.event-header h2{
  margin-top: 40px;
}


.date {
  margin: 0;
  text-align: center;
}

.event-container h2, h3, h4 {
  text-align: center;
}

.event-details {
  margin-top: 10px;
}

.event-details p {
  margin: 5px 0;
}

.no-coordinates {
  color: #999;
}

.sticky-calendar {
  position: sticky;
  top: 20px; /* Adjust the value based on your header height or desired offset */
}

.sticky-menu {
  position: sticky;
  top: 30px; /* Adjust the value based on your header height or desired offset */
}

.right-column.show {
  flex: 1; /* Show on larger screens */
  width: auto;
  right: 0; /* Position on-screen */
}

.toggle-calendar-button {
  display: none; /* Hide the button on larger screens */
}




@media (max-width: 768px) {
  body {
    overflow-x: hidden; /* Hindra horisontell scrollning */
  }

  .search-input{
    width: 100%;
  }
  .toggle-calendar-button {
    display:inline; /* Show the button on smaller screens */
  }

  .home-container {
    flex-direction: column;
  }

  .left-column {
    margin-bottom: 30px;
  }

  .right-column {
    flex: 0; /* Initially hide on smaller screens */
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-out, flex 0.3s ease-out;
    position: absolute;
    top: 0;
    right: -100%; /* Position off-screen to the right */
    
  }
  
}
