.welcome {
  margin-top: 20px;
  padding: 2px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: rgb(157, 214, 238);
  width: 95%;
  text-align: center;
}

button {
  background-color: rgb(237, 244, 247);
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border-radius: 10px;

}

input {
  padding: 5px;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 2px;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.left-column,
.events-column,
.right-column {
  flex: 3;
  padding: 0 10px;
}

.left-column{
  border-radius: 10px;
  border-style:groove;
  border-width: 1px;
  margin: 0 10px 0 0;
}

.events-column{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  min-width: 60%;
  border-radius: 10px;
}

.create-event-container{
  border-style: solid;
  border-width: 1px;
}

.container-header {
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgb(237, 244, 247);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
}

.map-container {
  height: 200px; /* Adjust height as needed */
  margin-bottom: 10px;
}

.map-container{
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
}

.event-container h2{
  text-align: center;
}

.event-details {
  margin-top: 10px;
}

.event-details p {
  margin: 5px 0;
}

.no-coordinates {
  color: #999;
}

.sticky-calendar {
  position: sticky;
  top: 20px; /* Adjust the value based on your header height or desired offset */
}

.sticky-menu{
  position: sticky;
  top: 25px; /* Adjust the value based on your header height or desired offset */
}

@media (max-width: 768px) {
  
  .right-column {
    display: block; /* Show on larger screens */
  }

  .home-container {
    flex-direction: column;
  }

  

}
